
.DS_Store

Let's Do It.xcodeproj/xcuserdata/jaak.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Let's Do It.xcodeproj/project.xcworkspace/xcuserdata/jaak.xcuserdatad/UserInterfaceState.xcuserstate

Let's Do It.xcodeproj/xcuserdata/jaak.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
